
<!DOCTYPE html>
<html>
<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Oops, looks like this plane already took off on <strong><%=@departDate.strftime("%B %d at %I:%M %p")%></strong>. Did you enter the wrong date?</div>
</html>